{% comment %}
    Renders a collection card

    Expects:
    - collection: {Object} Collection object
    - shape: {string} Accepts nothing (default) or "square"

    Usage:
    {% render 'collection-card' collection: collection, shape: "square" %}
{% endcomment %}

<a href="{{collection.url}}" class="collection-card {% if shape %}__shape-{{ shape }}{% endif %}">
  <h3 class="collection-card__title h4">{{collection.title}}</h3>
  {% if collection.image %}
    {% render 'next-gen-img', image: collection.image %}
  {% endif %}
</a>