<toggle-modal class="cmnc-modal __theme-cream" data-type="modal">
  <div class="cmnc-modal__content">
    <button class="cmnc-modal__exit">
      {% render 'svg-plus' %}
    </button>
    <h2 class="h3">Our shopping experience is coming soon!</h2>
    <p>We can't wait to offer the finest online shopping experience for you. We're working hard at this and apologize for any inconvenience. Please check back soon.</p>
    <div class="cmnc-modal__plants">
      {% render 'svg-plants' %}
      {% render 'svg-plants' %}
      {% render 'svg-plants' %}
      {% render 'svg-plants' %}
    </div>
  </div>
</toggle-modal>