

<toggle-modal class="cmnc-modal color-cream" data-type="modal">
  <div class="cmnc-modal__content">
    <button class="cmnc-modal__exit">
      {% render 'svg-plus' %}
    </button>
    {% if settings.modal_image %}
      <div class="cmnc-modal__content__image">
        {% render 'next-gen-img' image: settings.modal_image, alt: settings.modal_heading %}
      </div>
    {% endif %}
    <div class="cmnc-modal__content__text">
      {% if settings.modal_heading %}
        <h2 class="h4">{{ settings.modal_heading }}</h2>
      {% endif %}
      {% if settings.modal_text %}
        <div class="__article-txt">{{ settings.modal_text }}</div>
      {% endif %}
      {% if settings.modal_newsletter %}
        {% form 'customer', class: "cmnc-modal__form __form-styles" %}

          {% if form.posted_successfully? %}
              Submitted successfully!
          {% else %}
              {{ form.errors | default_errors }}
          {% endif %}

          <input type="email" placeholder="Email" name="contact[email]" />
          <input type="submit" value="Sign Up" />
        {% endform %}
      {% endif %}

      <div class="cmnc-modal__plants">
        {% render 'svg-plants' %}
        {% render 'svg-plants' %}
      </div>
    </div>

  </div>
</toggle-modal>