{% comment %}
  Returns section of newsletter form

  Expects: N/A

  Requirements: 
    - to be used inside 'footer.liquid' only

  Usage:
  {% render 'newsletter-row' %}
{% endcomment %}

{% style %}
  .newsletter-row {
    --topSpacingRatio: 60 / 100;
    --bottomSpacingRatio: 50 / 100;
  }
{% endstyle %}

<section class="newsletter-row color-cream">

  {% if section.settings.newsletter_heading %}
    <h2 class="newsletter-row__heading h5">{{ section.settings.newsletter_heading }}</h2>
  {% endif %}

  {% if section.settings.newsletter_description %}
    <p>{{ section.settings.newsletter_description }}<p>
  {% endif %}

  <div class="newsletter-row__form klaviyo-form-{{ section.settings.klaviyo_form_id }}"></div>
  
</section>