{% comment %}
  Returns section of newsletter form

  Expects: N/A

  Requirements: 
    - to be used inside 'footer.liquid' only

  Usage:
  {% render 'newsletter-row' %}
{% endcomment %}

{% style %}
  .newsletter-row {
    --topSpacingRatio: 60 / 100;
    --bottomSpacingRatio: 50 / 100;
  }
{% endstyle %}

<section class="newsletter-row color-sun">

  {% if section.settings.newsletter_heading %}
    <h2 class="newsletter-row__heading h5">{{ section.settings.newsletter_heading }}</h2>
  {% endif %}

  {% if section.settings.newsletter_description %}
    <p>{{ section.settings.newsletter_description }}<p>
  {% endif %}

  {% form 'customer', class: "newsletter-row__form" %}
    <input type="email" placeholder="Email" name="contact[email]" />
    <input type="submit" value="Subscribe" />
  {% endform %}
  
</section>