{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if bundle_product and bundle_product != empty -%}

<h3 class="card__heading">
  <a href="#" class="full-unstyled-link">
    {{ 'product.product_title' | t }}
  </a>
</h3>
         
{% endif %}

