<div id="Accordions-{{ section.id }}" class="Accordions color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Accordions",
  "tag": "section",
  "class": "section",
  "settings": [
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [
    //Accordion Item
      //Headline
      //Content
  ],
  "presets": [
    {
      "name": "Accordions"
    }
  ]
}
{% endschema %}
