<div id="All-categories-{{ section.id }}" class="All-categories color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "All Categories",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "presets": [
    {
      "name": "All Categories"
    }
  ]
}
{% endschema %}
