<div id="Bi-column-text-blocks-{{ section.id }}" class="Bi-column-text-blocks color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Bi-Column Text Blocks",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //Subheading
    //Image
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [//Repeated in any order
    //Icons
    //Text Block
      //Heading
      //Text
      //Button
  ],
  "presets": [
    {
      "name": "Bi-Column Text Blocks"
    }
  ]
}
{% endschema %}
