<div id="Career-listings-{{ section.id }}" class="Career-listings color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Career Listings",
  "tag": "section",
  "class": "section",
  "settings": [
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [
 
  ],
  "presets": [
    {
      "name": "Career Listings"
    }
  ]
}
{% endschema %}
