<div id="Categories-grid-{{ section.id }}" class="Categories-grid color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Categories Grid",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [//Repeated in any order
    //Category
  ],
  "presets": [
    {
      "name": "Categories Grid"
    }
  ]
}
{% endschema %}
