<div id="Divider-{{ section.id }}" class="Divider color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Divider",
  "tag": "section",
  "class": "section",
  "settings": [
    //Style 
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "presets": [
    {
      "name": "Divider"
    }
  ]
}
{% endschema %}
