<div id="Featured-products-{{ section.id }}" class="Featured-products color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section",
  "settings": [
    // Heading
    // Button
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [//Repeated in any order
    //Product
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
