<div id="Featured-articles-{{ section.id }}" class="Featured-articles color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Featured Articles",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //Button
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [//Repeated in any order
    //Article
  ],
  "presets": [
    {
      "name": "Featured Articles"
    }
  ]
}
{% endschema %}
