<div id="Icons-row-{{ section.id }}" class="Icons-row color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Icons Row",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [//Repeated in any order
    //Icon
      //Image
      //Alt Text
  ],
  "presets": [
    {
      "name": "Icons Row"
    }
  ]
}
{% endschema %}
