<div id="Icons-section-{{ section.id }}" class="Icons-section color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Icons Section",
  "tag": "section",
  "class": "section",
  "settings": [
    //Caption
    //Heading
    //Text
    //Seaction 
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "blocks": [
    //Icon Block
      //Image Picker
      //Text
  ],
  "presets": [
    {
      "name": "Icons Section"
    }
  ]
}
{% endschema %}
