<style type="text/css">

  .page-404 {
    min-height: calc(100vh - var(--navHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

</style>

<div class="page-404 page-width page-margin center">
  <h1>
    404
  </h1>
  <p>That page doesn't exist.</p>
  <a href="/" class="btn">
    Go home
  </a>
</div>


