<style type="text/css">

  .template-404 {
    min-height: calc(100vh - var(--navHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

</style>

<div class="template-404">
  <h1>
    404
  </h1>
  <p>That page doesn't exist.</p>
  <a href="/" class="btn">
    Go home
  </a>
</div>
