{% comment %}
  Collection template with sidebar filters (left) + product grid (right)
{% endcomment %}

<div class="collection-layout page-width">
  
  <!-- Sidebar Filters -->
  <aside class="collection-sidebar">
    {% if section.settings.enable_filters %}
      <div class="facets">
        {% render 'facets', results: collection %}
      </div>
    {% endif %}
  </aside>

  <!-- Product Grid -->
  <div class="collection-products">
    {% paginate collection.products by section.settings.products_per_page %}
      {% if collection.products.size > 0 %}
        <div class="product-grid grid grid--2-col grid--3-col-tablet grid--4-col-desktop">
          {% for product in collection.products %}
            {% render 'card-product', card_product: product %}
          {% endfor %}
        </div>
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>

</div>
