<div id="Product-reviews-{{ section.id }}" class="Product-reviews color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Product Reviews",
  "tag": "section",
  "class": "section",
  "settings": [
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],

  "presets": [
    {
      "name": "Product Reviews"
    }
  ]
}
{% endschema %}
