<div id="Product-info-{{ section.id }}" class="Product-info color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Product Info",
  "tag": "section",
  "class": "section",
  "settings": [
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],

  "presets": [
    {
      "name": "Product Info"
    }
  ]
}
{% endschema %}
