<div id="Recent-articles-{{ section.id }}" class="Recent-articles color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Recent Articles",
  "tag": "section",
  "class": "section",
  "settings": [
    //Featured Post?
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "presets": [
    {
      "name": "Recent Articles"
    }
  ]
}
{% endschema %}
