<div id="Related-products-{{ section.id }}" class="Related-products color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Related Products",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],

  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}
