<div id="Shop-more-{{ section.id }}" class="Shop-more color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Shop More",
  "tag": "section",
  "class": "section",
  "settings": [
    //ColorTheme
    //TopSpacing
    //BottomSpacing
    //Headline
  ],
  "blocks": [
    //Product
  ],
  "presets": [
    {
      "name": "Shop More"
    }
  ]
}
{% endschema %}
