<div id="Spec-sheet-{{ section.id }}" class="Spec-sheet color-{{section.settings.color_scheme}}"  
>
 
</div>

{% schema %}
{
  "name": "Spec Sheet",
  "tag": "section",
  "class": "section",
  "settings": [
    //All Categories Label
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "presets": [
    {
      "name": "Spec Sheet"
    }
  ]
}
{% endschema %}
