<div id="Split-text-{{ section.id }}" class="split-text color-{{section.settings.color_scheme}}"  
>
  
</div>

{% schema %}
{
  "name": "Split Text",
  "tag": "section",
  "class": "section",
  "settings": [
    //Heading
    //Text
    //Button
    //ColorTheme
    //TopSpacing
    //BottomSpacing
  ],
  "presets": [
    {
      "name": "Split Text"
    }
  ]
}
{% endschema %}
