{%- if section.blocks.size > 0  -%}
  <div id="sub-navigation-{{ section.id }}" class="sub-navigation color-{{section.settings.color_scheme}}"  
  >
    <nav>
      <ul class="sub-navigation__list">
        {% for block in section.blocks %}
          <li class="sub-navigation__list__item hide">
            <a class="sub-navigation__list__item__link" href="{{ block.settings.link }}">
              {{ block.settings.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{%- endif -%}

{% javascript %}

   let subNav = document.querySelectorAll('.sub-navigation__list__item');
   let subNavCopy = [...subNav];
   subNavCopy[0].onclick = () =>{
     subNavCopy.map((navItem)=>{
       navItem.classList.toggle('hide');
     })
   };

{% endjavascript %}

{% schema %}
{
  "name": "Sub-Navigation",
  "tag": "section",
  "class": "sub-navigation__parent",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    }
  ],
  "blocks": [
    {
      "name": "Link",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sub-navigation"
    }
  ]
}
{% endschema %}
