{% style %}
    #Temp-cart-{{ section.id }} {
      --topSpacingRatio: 50 / 100;
      --bottomSpacingRatio: 50 / 100;
    }
{% endstyle %}

{% assign image = "https://cdn.shopify.com/s/files/1/0562/9486/6967/articles/unsplash_pBwMdofMxtU_350x.jpg?v=1646062936" %}

<div id="Temp-cart-{{ section.id }}" class="temp-cart color-{{section.settings.color_scheme}}"  
>

  <h2 class="h3">Your Cart</h2>

  <form class="temp-cart__container">
    <div class="temp-cart__products">
      <div class="temp-cart__products__product">
        <div class="temp-cart__products__product__selection">
            <h4 class="h5">Product</h4>
            <h4 class="h5">Quantity</h4>
            <h4 class="h5">Price</h4>
             <div class="temp-cart__products__product__title">
            {% render 'next-gen-img', image: image %}
            <div class="temp-cart__products__product-in-cart">
              <p class="h5">Organic Basil</p>
              <span class="p-sm">5 lb, Dried</span>
            </div>
          </div>
          <div class="temp-cart__products__product__quantity">
            <div class="quantity-input">
              <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">Decrease quantity for Example Product</span>
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" fill="none" viewBox="0 0 10 2">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                  </path>
                </svg>
              </button>
              <input class="temp-product__quantity__input p-sm" type="number" name="quantity" id="Quantity-template--14424039030807__main" min="1" value="1" form="product-form-template--14424039030807__main">
              <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">Increase quantity for Example Product</span>
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" fill="none" viewBox="0 0 10 10">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor">
                  </path>
                </svg>
              </button>
            </div>
            <a class="p-xs remove" href="/">Remove</a>
          </div>
            <div class="h5 temp-cart__products__price">
              $19.99
            </div>
      </div>
      <div class="temp-cart__products__product__total">
      <div>
        <p class="h5">SUBTOTAL</p>
        <p class="p-sm">ESTIMATED SHIPPING</p>
      </div>
      <div>
        <p class="h5">$19.99</p>
        <p class="p-sm">FREE</p>
      </div>
      <p class="h5">ESTIMATED TOTAL</p>
      <p class="h5 estimated-total">$19.99</p>

      <input type="submit" value="CHECK OUT">
    </div>
    </div>
  </form>

  <div class="temp-cart__related">
    <h4 class="temp-cart__related-products__headline">You might also like:</h4>
    <div class="temp-cart__related-products" data-flickity='{ 
          "pageDots": false, "cellAlign": "left", "watchCSS": true}'
    >
      {% for i in (1..10) %}
        {% render 'product-card' %} 
      {% endfor %}
      <a class="temp-cart__related-products__product-btn btn __btn-clr-grass" href="/">View More</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Temp Cart",
  "tag": "section",
  "class": "temp-cart__wrapper",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Temp Cart"
    }
  ]
}
{% endschema %}
