.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
      display: flex;
    justify-content: space-between;
    text-align: center;
}

.r-tabs .r-tabs-tab {
    display: block;
    margin: 0;
    list-style: none;
  flex-grow: 1;
  border-left:1px solid #55534f;
  border-right:1px solid #55534f;
  border-bottom:1px solid #55534f;
}

 .r-tabs-nav li:first-child{ border-left:none}
.r-tabs-nav li:last-child{  border-right:none}
.r-tabs-nav li:nth-child(2){ border-left:none; border-right:none} 

li.r-tabs-state-active{ border-bottom:transparent !important;}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
  
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}