/* Tabs container */
.r-tabs {
	position: relative;

	background-color: transparent;

	border-top: 1px solid #55534f;
	border-right: 1px solid #55534f;
	border-left: 1px solid #55534f;
	border-bottom: 1px solid #55534f;
	border-radius: 0px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: transparent;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 22px 12px;
	text-decoration: none;
	font-size: 20px;
	color: #9d9386;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #3d290d;
	text-shadow: none;

	background-color: transparent;

	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: transparent;

	border-bottom: 0px solid #55534f;

	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #55534f;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: transparent;
	color: #55534f;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.cart-count-bubble{left: 1.6rem; color:#fff;}
#cart-icon-bubble{top: 25px;}

.cart-notification.active{ color: #0f5132; background-color: #d1e7dd;  border-color: #badbcc; z-index: 99999;  border-radius: 4px;  width: 360px;padding: 15px;}
.cart-notification.active .button--full-width{ width: 100px; height: 40px; line-height: 40px; border-radius: 7px; background: var(--color-btn); color: var(--color-btn-txt); padding: 0 calc(var(--btnHeight) / 2); display: inline-flex; text-align: center;    font-size: .875rem;    font-weight: 500;    margin: 0;
    align-items: center; -webkit-appearance: none;overflow: hidden;  min-height: inherit;}

.cart-notification__links>* {  margin-top: 1rem;  font-size: 16px;}

.cart-notification__header{ position:relative}
.cart-notification__close{ position:absolute; text-decoration:none; top:3px; right:10px; width:inherit; height:inherit  }
cart-notification__header{ padding-bottom:15px; }


