/* Tabs container */
.r-tabs {
	position: relative;

	background-color: transparent;

	border-top: 1px solid #55534f;
	border-right: 1px solid #55534f;
	border-left: 1px solid #55534f;
	border-bottom: 1px solid #55534f;
	border-radius: 0px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: transparent;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 22px 12px;
	text-decoration: none;
	font-size: 20px;
	color: #3d290d;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #55534f;
	text-shadow: none;

	background-color: transparent;

	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: transparent;

	border-bottom: 1px solid #55534f;

	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #55534f;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: transparent;
	color: #55534f;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}
