@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection__view-all {
  margin-top: 2rem;
}

/* New Css */

.pro_grid{display:block;}
.pro_grid_item{width:100%;  border-bottom:1px solid #e4d7c6; }
.pro_box_holder{display:flex; align-items: center;}
.pro_box_holder .box_1{width:135px; flex-shrink:0; margin-top:12px; }
.pro_box_holder .box_3{width:395px; flex-shrink:0; margin-left:auto;}

.box_3 input[type=submit]{ width:100%; background:#3d290d; padding:22px 22px; text-align:center; border:none; outline:none; font-size:17px; color:#fff; text-transform:capitalize; height: auto;   padding: 22px 22px;
    line-height: 1; border-radius:5px !important;}

.box_3 a{ width:100%; background:#3d290d; padding:22px 22px; text-align:center; border:none; outline:none; font-size:17px; color:#fff; text-transform:capitalize; height: auto;   padding: 22px 22px;
    line-height: 1; border-radius:5px !important; display:block}
.box_3 a:hover{ text-decoration:none; }

.box_3 .price{ font-size:28px; color:#366a2f; font-weight:700; margin:0 0 10px 0}


.pro_box_holder .card__badge { display:none;}
.box_2 .card__information{ text-align:left;  }
.box_2 h5.card__heading{ font-weight:500; color:#0d1d2d; font-size:30px;}
.pro_grid_item{ border-left:none; border-right:none; padding:40px 0}
.sm_heading{display:block;}
.pkg_type_holder{ display:flex; gap:80px;}
.pkg_box h6{ color:#0d1d2d; font-size:16px; margin:0; padding:0 0 5px 0; font-weight:normal; }
.pkg_box p{ font-size:16px; color:#4f575f}
span.sm_heading{ color:#0d1d2d; font-weight:normal; display:block; padding:0 0 10px 0; font-size:14px; font-style: italic;}
span.sm_heading2{ color:#4f575f; font-weight:normal ; display:block; padding:0 0 10px 0; font-size:16px}
.box_2 h3{margin: 0 0 10px;}
.card__information{ padding:0 0 0 30px;}
.card__content.box_2 {  padding: 0 0 0 30px;}
.cardInnerBox{ display:flex; /*align-items:flex-start; */justify-content: center; }


.pro_grid .card__media{margin:0 !important; width: 100%;}
.pro_grid .card__media img{height:auto !important; }
.pro_grid_item .card__information{ padding:0 !important; }
.cart_button_holder{text-align:center;}
.cart_button_holder input[type="submit"]{width:100%;border-radius: 0; display: block;cursor:pointer;}
.new_filter{display:flex !important; }
.new_filter .facet-filters{padding-left:0 !important; }
.new_filter .caption-large label{text-transform:capitalize !important; font-size:22px;}
.new_filter select{font-size:22px;}
.pro_grid_item .btn{background: transparent; border-top:1px solid #e4d7c6; font-weight: 400; text-transform: uppercase;}
.pro_grid_item .btn:hover{background:#366a2f; opacity: 1; }
.pro_grid_item .price__regular{font-size:23px; color:#366a2f;font-weight: bold; letter-spacing: 0;}
.mobile-facets__main{background-color: #efe9e9;}
.new_text_width{max-width:800px;}
.facet-filters__sort{letter-spacing: 0; }

.mobile-facets__header,.mobile-facets__inner{background-color: #e1dddd!important;}
.disclosure-has-popup[open]>summary+* {z-index: 1000!important}
.mobile-facets__close{z-index:1001!important}
.mobile-facets__footer button{color: #fff!important;;font-size:18px;letter-spacing:0;min-width:auto;margin:0; min-height: auto;}
.mobile-facets__sort .select__select {white-space: pre-wrap;}
.mobile-facets {z-index: 1000 !important;}

.cat_list_holder{ display:flex; gap:50px; text-align:center;  }
.cat_list_holder a{ width:14.28%;}
.cat_list_holder a img{ max-width:100% !important}

.cat_list_holder .collection-list-item p{ font-size:18px !important}
.cat_holder h2.collection-list__title{ font-size:28px; color:#0d1d2d; font-weight:400; padding:40px 0 25px 0; margin:0 }
.facets-container .facet-filters{display:none;}
.product-count__text{font-size: 18px !important;color: #0d1d2d;font-weight: 400;padding:0px;margin: 0;}

@media screen and (max-width: 1500px) {
.pro_box_holder .box_3{ width:340px;}
.pkg_type_holder{ gap:50px}
}

@media screen and (max-width: 1200px) {
  .pro_grid{gap:20px;}
  .pro_grid_item{width:100% }  
}
@media screen and (max-width: 1120px) {
.pro_box_holder .box_3{ width:250px;}
  .box_3 a{ font-size:15px; line-height:1.3}
}


@media screen and (max-width: 1024px) {
.pro_grid{gap:40px;}
  .pkg_type_holder{ gap:20px;}
  .cat_list_holder{ gap:10px; }
}
@media screen and (max-width: 991px) {
.pro_box_holder{ flex-wrap:wrap}
  .cardInnerBox{ width:100%}
  .pro_box_holder .box_3{ margin-left:0; width:inherit; margin-top:15px;}
  .box_3 .price{ text-align:left;}
  .cat_list_holder{ flex-wrap:wrap;}
  .cat_list_holder a{ width:20%}
  
  
}
@media screen and (max-width: 630px) {
.card__information, .card__content.box_2{ padding:0 15px 0 0}
  .pkg_box h6{ font-size:14px}
  .pkg_box p{ font-size:14px}
  .box_2 h5.card__heading{ font-size:18px; margin:0 0 10px 0}
  span.sm_heading, span.sm_heading2{ font-size:14px}
  .cat_list_holder a{ width:30%}
}

@media screen and (max-width: 480px) {
  .pro_grid_item{width:calc(100%); } 
  .cardInnerBox{ flex-wrap:wrap}
  .pro_box_holder .box_1{ width:100%; margin:0 0 15px 0}
  .pkg_type_holder{ gap:10px}  
  .cat_list_holder a{ width:48%}
  
  
  
}
