@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection__view-all {
  margin-top: 2rem;
}

/* New Css */

.pro_grid{display:block;}
.pro_grid_item{width:100%;  border:1px solid #e4d7c6; }
.pro_box_holder{display:flex; align-items: center;}
.pro_box_holder .box_1{width:135px; flex-shrink:0; }
.pro_box_holder .box_3{width:395px; flex-shrink:0; margin-left:auto;}

.box_3 input[type=submit]{ width:100%; background:#3d290d; padding:22px 22px; text-align:center; border:none; outline:none; font-size:17px; color:#fff; text-transform:capitalize; height: auto;   padding: 22px 22px;
    line-height: 1; border-radius:5px !important;}

.box_3 a{ width:100%; background:#3d290d; padding:22px 22px; text-align:center; border:none; outline:none; font-size:17px; color:#fff; text-transform:capitalize; height: auto;   padding: 22px 22px;
    line-height: 1; border-radius:5px !important; display:block}
.box_3 a:hover{ text-decoration:none; }


.pro_box_holder .card__badge { display:none;}
.box_2 .card__information{ text-align:left;  }
.box_2 h5.card__heading{ font-weight:500; color:#0d1d2d; font-size:30px;}
.pro_grid_item{ border-left:none; border-right:none; padding:40px 0}
.sm_heading{display:block;}



.pro_grid .card__media{margin:0 !important; width: 100%;}
.pro_grid .card__media img{height:auto !important; }
.pro_grid_item .card__information{ padding:0 !important; }
.cart_button_holder{text-align:center;}
.cart_button_holder input[type="submit"]{width:100%;border-radius: 0; display: block;cursor:pointer;}
.new_filter{display:flex !important; }
.new_filter .facet-filters{padding-left:0 !important; }
.new_filter .caption-large label{text-transform:capitalize !important; font-size:22px;}
.new_filter select{font-size:22px;}
.pro_grid_item .btn{background: transparent; border-top:1px solid #e4d7c6; font-weight: 400; text-transform: uppercase;}
.pro_grid_item .btn:hover{background:#366a2f; opacity: 1; }
.pro_grid_item .price__regular{font-size:23px; color:#366a2f;font-weight: bold; letter-spacing: 0;}
.mobile-facets__main{background-color: #efe9e9;}
.new_text_width{max-width:800px;}
.facet-filters__sort{letter-spacing: 0; }

.mobile-facets__header,.mobile-facets__inner{background-color: #e1dddd!important;}
.disclosure-has-popup[open]>summary+* {z-index: 1000!important}
.mobile-facets__close{z-index:1001!important}
.mobile-facets__footer button{color: #fff!important;;font-size:18px;letter-spacing:0;min-width:auto;margin:0; min-height: auto;}
.mobile-facets__sort .select__select {white-space: pre-wrap;}
.mobile-facets {z-index: 1000 !important;}


@media screen and (max-width: 1200px) {
  .pro_grid{gap:20px;}
  .pro_grid_item{width:calc(25% - 20px); }  
}
@media screen and (max-width: 1024px) {
.pro_grid{gap:40px;}
.pro_grid_item{width:calc(50% - 20px); }  
}
@media screen and (max-width: 480px) {
  .pro_grid_item{width:calc(100%); } 
}
