.section-footer {
  color: var(--color-foreground);
  background: var(--color-background);
  position: relative;
  padding: var(--sectionVerticalSpacing) var(--sectionHorizontalSpacing);
  display:grid;
  grid-template-columns: repeat(4, auto);

  &__plant-decor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    gap: 2%;
    overflow: hidden;

    svg {
      width: 100%;
      height: auto;

      * {
        fill: var(--color-background);
      }
    }
  }

  &__branding {
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-between;
    padding: var(--pxSize) 0;
    order: 2;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 0.75rem;
      }

      a {
        opacity: 1;
        will-change: opacity;
        transition: all 0.25s ease;
        font-size: 0.75rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__logo {
      display: flex;
      align-items: center;

      svg {
        width: 100%;
        height: auto;
        max-width: 170px;

        * {
          fill: var(--color-foreground);
        }
      }
    }
  }

  &__badges {
    grid-column: 2/-1;
    padding-top: calc(var(--pxSize) / 3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: calc(var(--pxSize) / 3);
    order: 3;

    &__badge img {
      height: calc(var(--pxSize) / 1.75);
      width: auto;
    }
  }

  &__blocks {
    grid-column: 1 / -1;
    position: relative;
    order: 1;
    display: flex;
    gap: var(--pxSize);
    justify-content: space-between;
    padding-bottom: var(--pxSize);

    &:after{
      content:"";
      position: absolute;
      background-color: var(--color-foreground);
      height: 1px;
      width: 100%;
      opacity: .2;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }



  &__bottom {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: var(--pxSize);
    order: 4;
    position: relative;

    &:before{
      content:"";
      position: absolute;
      background-color: var(--color-foreground);
      height: 1px;
      width: 100%;
      opacity: .2;
      top: 0;
      left: 0;
      right: 0;
    }

    &__copywright,
    .section-footer__links__item__link {
      opacity: 0.5;
    }

    .section-footer__links__item__link {
      &:hover {
        opacity: 1;
      }
    }

    &__copywright {
      padding-right: var(--pxSize);
      margin-bottom: 0;
    }

    &__sec-links {
      flex: 1;
      display: flex;
      gap: var(--pxSize);
    }

    &__social {
      padding-left: var(--pxSize);
    }
  }

  &__header {
    color: var(--color-accent);
    margin-bottom: calc(var(--pxSize) / 4);
  }

  &__links {
    &__item {
      line-height: 1.2;

      &__link {
        display: block;
        color: var(--color-foreground);
        opacity: 1;
        will-change: opacity;
        transition: all 0.25s ease;
        line-height: 1.2;
        margin: 0;
        padding: calc(var(--pxSize) / 4) 0;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    grid-template-columns: 1fr;

    &__branding {
      grid-column: 1/-1;
      order: 1;
      display: flex;
      justify-content: space-between;
      margin-bottom: calc(var(--pxSize) / 1.75);
      padding: 0;

      &__logo {
        max-width: 130px;
        display:block;

        svg {
          width: 100%;
          height: auto;
          padding-right: var(--pxSize);
        }
      }

      &__info {
        padding-top: 0;
      }
    }

    &__blocks {
      grid-column: 1 / -1;
      flex-wrap: wrap;
      padding-bottom: 0;

      &__block {
        flex: 0 0 calc(50% - calc(var(--pxSize) / 2));
      }

      &:after{
        content:none;
      }
    }

    &__badges {
      gap: calc(var(--pxSize) / 2);
      grid-column: 1/-1;
      margin-top: var(--sectionVerticalSpacing);
      justify-content: center;

      img {
        height: calc(var(--pxSize) * 1.5);
      }
    }

    &__bottom {
      flex-direction: column;
      padding-top: none;

      &__sec-links {
        flex-direction: column;
        text-align: center;
        gap: calc(var(--pxSize) / 2);
      }

      &__copywright {
        padding-right: 0;
        padding-bottom: calc(var(--pxSize) / 2);
      }

      &__social {
        padding-left: 0;
      }

      &:before{
        content:none;
      }
    }
  }
}

