.section-footer {
  color: var(--color-foreground);
  background: var(--color-background);
  position: relative;
  padding: var(--sectionVerticalSpacing) var(--sectionHorizontalSpacing);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-columns: auto auto;

  &__plant-decor {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    gap: 2%;
    overflow: hidden;

    svg {
      width: 20%;
      height: auto;

      * {
        fill: var(--color-background);
      }
    }
  }

  &__branding {
    grid-column: 1 / 2;
  }

  &__blocks {
    grid-column: 2 / -1;
    display: flex;
    gap: var(--pxSize);
  }

  &__bottom {
    grid-column: 1 / -1;
  }
}
