header.header {
  height: var(--navHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .p-sm {
    margin-bottom: 0;
  }

  nav.header__inline-menu {
    flex: 1;

    ul {
      gap: calc(var(--pxSize) / 2);
    }
  }

  .header__heading-link {
    padding-right: var(--pxSize);
  }
}

.site-header {
  display: flex;
  gap: var(--pxSize);

  &__dropdown-item {
    &__label {
      font-weight: bold;
    }

    &__dropdown {
      display: flex;
    }
  }
}
