.bi-column-text-blocks {
  display: flex;
  flex-direction: column;
  gap: var(--pxSize);

  &__text-blocks {
    display: flex;
    gap: var(--pxSize);
    flex-wrap: wrap;
  }

  &__block {
    flex: calc(50% - calc(var(--pxSize) / 2));
  }

  @media screen and (max-width: 676px) {
    &__text-blocks {
      flex-direction: column;
    }

    &__block {
      &:not(:last-child) {
        margin-bottom: calc(var(--sectionVerticalSpacing) / 2);
      }
    }
  }
}
