.blog-listings {
  padding-left: calc(var(--pxSize) / 3);
  padding-right: calc(var(--pxSize) / 3);

  &__container {
    display: grid;
    gap: calc(var(--pxSize) / 3);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > * {
      &:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    }
  }

  &__button {
    position: relative;
    display: grid;
    place-content: center;
    color: rgba(var(--color-cream), 1);

    &:before {
      content: "";
      background: rgba(var(--color-black), 0.2);
      z-index: 1;
    }

    &:nth-child(4) {
      grid-column: 3 / 5;
    }

    span {
      position: relative;
      z-index: 2;
    }

    img {
      object-fit: cover;
      position: relative;
      z-index: 0;
    }

    &:before,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 676px) {
    &__container {
      display: block;
    }

    .article-card{

      &__content{
        &__date{
          margin-bottom: calc(var(--pxSize)/1.25);
        }
      }

      &__image{
        flex:1;

        &__placeholder{
          max-height: 100px;
        }
      }

      &.__style-condensed {
        display: flex;
        max-height: 100px;
        margin-bottom: calc(var(--pxSize)/1.25);

        img{
          max-height: 100px;
        }
      }

      &__content{
        flex:2;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        &__heading{
          grid-column: 1/-1;
        }
      }  

      &:not(.__style-condensed){
       .article-card__content{
          display: flex!important;
          flex-direction: column;
          padding: calc(var(--pxSize)/2) var(--pxSize);
       }
      }
    }
  }
}
