.career-listings {
  display: flex;
  flex-direction: column;

  &.color-cream {
    --color-accent: rgba(var(--color-grass), 1);
  }

  &__headline-content {
    max-width: 650px;
  }

  &__departments {
    flex: 1;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0.25;
      border-right: 1px solid var(--color-foreground);
    }

    &__headline {
      text-transform: uppercase;
    }

    .career-listings__nav {
      margin-top: 2.5rem;

      &__item {
        cursor: pointer;
        margin-bottom: 1.25rem;
      }
    }
  }

  &__button {
    text-transform: capitalize;

    &.__active {
      font-weight: bold;
    }
  }

  &__location {
    display: flex;
  }

  &__positions {
    flex: 4;
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }

  &__modal {
    color: var(--color-accent);
    padding: 0 calc(var(--btnHeight) / 6);
    text-align: center;

    &__mobile-btn {
      display: none;
    }

    .btn {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__position {
    padding: 0px calc(var(--sectionVerticalSpacing) / 1.5)
      calc(var(--sectionVerticalSpacing) / 2)
      calc(var(--sectionVerticalSpacing) / 1.5);
    display: none;
    grid-template-columns: 3fr auto;
    gap: calc(var(--pxSize) / 3);

    &.__active {
      display: grid;
    }

    h3,
    p {
      margin-bottom: 0;
      align-self: center;
    }

    svg {
      * {
        fill: var(--color-foreground);
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      color: var(--color-foreground);
      width: 100%;
      display: flex;

      .career-listings__position {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &__text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__text {
    margin-top: calc(var(--sectionVerticalSpacing) * 0.75);
    max-width: 600px;
  }

  @media screen and (max-width: 676px) {
    &__container {
      flex-direction: column-reverse;
    }

    &__content {
      flex-direction: column;
    }

    &__modal {
      p {
        display: none;
      }

      &__mobile-btn {
        display: inline-flex;
      }
    }

    &__departments {
      border: 1px solid var(--color-foreground);
      padding: calc(var(--pxSize) / 2.5);

      .hide {
        display: none;
      }

      p {
        position: relative;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        &:after {
          content: "";
          display: inline-block;
          border: solid var(--color-foreground);
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          padding: 3.5px;
          margin-right: var(--sectionHorizontalSpacing);
          position: absolute;
          right: 0;
        }
      }
    }

    &__headline-content {
      max-width: 100%;

      h2 {
        text-align: center;
      }
    }

    &__position {
      padding: 0;
      margin-top: calc(var(--sectionVerticalSpacing) / 2);
      grid-template-columns: 3fr 2fr;

      h3,
      .career-listings__location {
        grid-column: 1 / -1;
      }

      .career-listings__location {
        grid-row: 2 / 3;
      }

      &--top {
        h3 {
          flex: 2;
        }
      }

      &__label {
        padding-right: calc(var(--pxSize) / 1.5);
      }
    }
  }
}
