.content-with-bg-image {
  --contentWithBgImageGap: calc(var(--pxSize) / 3);

  &__inner {
    position: relative;
    width: 100%;
    padding: calc(
        var(--sectionVerticalSpacing) * var(--topInternalSpacingRatio)
      )
      var(--sectionHorizontalSpacing)
      calc(var(--sectionVerticalSpacing) * var(--bottomInternalSpacingRatio))
      var(--sectionHorizontalSpacing);
    color: var(--color-foreground);
    overflow-y: visible;


    &:after,
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:after {
      content: "";
      background: var(--color-background);
      opacity: var(--overlayOpacity);
      z-index: 1;
    }

    > img {
      object-fit: cover;
      z-index: 0;
    }

     &:after,
    > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    > svg {
      object-fit: cover;
      z-index: 0;
    }
  }

  &__heading,
  &__text,
  &__icon,
  &__subheading,
  &__btn {
    position: relative;
    z-index: 2;
  }

  &__text {
    max-width: 550px;
  }

  &__icon {
    position: absolute;
    height: 100%;
    right: 0;
    top: 15%;
    pointer-events: none;
    overflow-x: hidden;

    svg {
      height: 100%;
      width: auto;
      transform: translateX(45%);

      * {
        fill: var(--color-accent);
      }
    }
  }

  &.__align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-with-bg-image {
      &__text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &.__align-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .content-with-bg-image {
      &__icon {
        left: 0;
        right: auto;

        svg {
          transform: translateX(-45%);
        }
      }
    }
  }

  &.__accent-color {
    .content-with-bg-image {
      &__heading {
        color: var(--color-accent);
      }
    }
  }

  &.__fullwidth {
    padding-left: 0;
    padding-right: 0;
  }

  &:not(.__fullwidth) {
    padding-left: var(--contentWithBgImageGap);
    padding-right: var(--contentWithBgImageGap);
  }

  &.__text-color-light {
    .content-with-bg-image {
      &__inner {
        --color-foreground: rgba(var(--color-cream));
        --color-background: rgba(var(--color-black));
        --color-btn: rgba(var(--color-cream));
        --color-btn-txt: rgba(var(--color-black));
        --color-btn-hover: rgba(var(--color-ground));
        --color-btn-hover-txt: rgba(var(--color-cream));
      }
    }
  }

  &.__text-color-dark {
    .content-with-bg-image {
      &__inner {
        --color-foreground: rgba(var(--color-ground));
        --color-background: rgba(var(--color-cream));
        --color-btn: rgba(var(--color-ground));
        --color-btn-txt: rgba(var(--color-cream));
        --color-btn-hover: rgba(var(--color-cream));
        --color-btn-hover-txt: rgba(var(--color-ground));
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__icon {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 676px) {
    &__inner {
      position: relative;
    }

    &.__as-hero {
      .content-with-bg-image__inner {
        height: 90vh;
      }
    }

    &__icon {
      bottom: 0;
      height: 50%;
      top: auto;
    }
  }
}
