.contact-form {
  &__header {
    color: var(--color-accent);
  }

  &__form,
  &__header {
    margin: 0 var(--sectionHorizontalBump);
  }

  @media screen and (max-width: 676px) {
    &__header {
      text-align: center;
      margin-bottom: calc(var(--pxSize)/1.5);
    }
  }
}
