.content-with-bg-image {
  position: relative;

  &__heading {
    text-transform: uppercase;
    color: var(--color-accent);
  }

  &__text {
    max-width: 550px;
  }

  &__icon {
    position: absolute;
    height: 100%;
    right: 0;
    top: 15%;
    pointer-events: none;

    svg {
      height: 100%;
      width: auto;
      transform: translateX(45%);

      * {
        fill: var(--color-accent);
      }
    }
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &.__align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.__align-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .content-with-bg-image {
      &__icon {
        left: 0;
        right: auto;

        svg {
          transform: translateX(-45%);
        }
      }
    }
  }
}
