.featured-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--pxSize) / 2);

  &__heading,
  &__btn {
    text-align: center;
  }

  &__container {
    width: 100%;

    &:not(.__slider) {
      display: flex;
      gap: calc(var(--pxSize) / 2);
    }

    &.__slider {
      .article-card {
        width: calc(50% - calc(var(--pxSize) / 2));
        margin: calc(var(--pxSize) / 4);
      }
    }

    .article-card {
      background: var(--color-background-alt);
    }
  }

  @media screen and (max-width: 676px) {
    &__container {
      flex-direction: column;
    }
  }
}
