.featured-page-link {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  &__inner {
    &:after,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      content: "";
      opacity: 0.6;
      background: linear-gradient(
        to right,
        rgba(var(--color-black), 1),
        rgba(var(--color-black), 0)
      );
      z-index: 2;
    }

    img {
      object-fit: cover;
      transform: scale(1);
      will-change: transform;
      transition: all 0.25s ease;
    }
  }

  &__link {
    position: relative;
    z-index: 3;
    color: rgba(var(--color-cream), 1);
    margin: 0;
    display: flex;
    align-items: flex-start;
    padding: calc(var(--sectionVerticalSpacing) * 1.5)
      calc(var(--sectionHorizontalSpacing) / 2);

    &:hover {
      + img {
        transform: scale(1.05);
      }
    }

    span {
      max-width: 600px;
    }

    svg {
      width: calc(var(--pxSize) * 1.25);
      height: auto;
      margin: calc(var(--pxSize) / 3) calc(var(--pxSize) / 3) 0
        calc(var(--pxSize) / 3);

      * {
        fill: rgba(var(--color-cream), 1);
      }
    }
  }
}
