.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    text-align: center;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: flex-start;
    gap: calc(var(--pxSize) / 2);

    > *:not(.btn) {
      flex: 1;
    }

    /* TODO, Jose should have put this in product-card file, this looks like it was supposed to be the stacked styles
    .product-card {
      flex-direction: column;
      flex: 1;

      &__price {
        grid-column: 1 / -1;
      }

      &__stars {
        justify-content: flex-start !important;
      }

      &__content {
        padding: 0;

        .btn {
          display: none;
        }

        &__info > * {
          white-space: normal !important;
        }
      }

      &__image {
        display: flex;
        justify-content: center;
        overflow: visible;
        padding-top: 0;

        img {
          position: relative;
          width: 100%;
        }
      }
    } */
  }

  @media screen and (max-width: 676px) {
    &__container {
      > *:not(.btn) {
        flex: 40%;
      }
    }
  }
}
