.icons-row {
  padding-left: calc(var(--sectionHorizontalSpacing) / 2);
  padding-right: calc(var(--sectionHorizontalSpacing) / 2);

  &__heading {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  &__icons {
    margin-top: calc(var(--sectionVerticalSpacing) / 2);

    &__icon {
      margin: 0 calc(var(--vwSize) * 2);

      img {
        height: calc(var(--vwSize) * 4);
        width: auto;
      }
    }
  }
}
