.main-list-collections {
  padding-left: calc(var(--pxSize) / 3);
  padding-right: calc(var(--pxSize) / 3);

  &__heading {
    text-align: center;
  }

  &__container {
    display: grid;
    gap: calc(var(--pxSize) / 3);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
