.main-article {
  padding: 0 var(--sectionHorizontalSpacing) var(--sectionVerticalSpacing)
    var(--sectionHorizontalSpacing);
  background: var(--color-background);

  &__sticky-header {
    position: sticky;
    z-index: 990;
    -webkit-position: sticky;
    min-height: var(--navHeight);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: calc(var(--pxSize) / 2);
    background: var(--color-background-alt);
    margin-bottom: calc(var(--sectionVerticalSpacing) * 0.75);
    width: calc(
      100% + var(--sectionHorizontalSpacing) + var(--sectionHorizontalSpacing)
    );
    margin-left: calc(var(--sectionHorizontalSpacing) * -1);
    padding: calc(var(--sectionVerticalSpacing) / 4)
      var(--sectionHorizontalSpacing);

    &__progress {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 5px;
      background: var(--color-accent);
      transform-origin: left center;
      transform: scaleX(0);
    }

    &__title {
      flex: 1;
      margin: 0;
    }

    svg {
      height: 20px;
      width: auto;
    }
  }

  &__image {
    position: relative;
    padding-top: 26%;
    margin-bottom: calc(var(--sectionVerticalSpacing) / 2);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header,
  &__content {
    max-width: calc(730px + var(--sectionHorizontalSpacing));
    margin: 0 auto;
    padding: 0 calc(var(--sectionHorizontalSpacing) / 2);
  }

  &__header {
    display: flex;
    gap: calc(var(--pxSize) / 2);
    margin-bottom: calc(var(--pxSize) / 4);

    &__title {
      margin: 0;
      flex: 1;
    }

    &__details {
      width: var(--sectionHorizontalSpacing);
      margin-left: calc(var(--sectionHorizontalSpacing) / -2);
      text-align: right;
      display: flex;
      flex-direction: column;
      transform: translateX(calc(var(--sectionHorizontalSpacing) / 2));
    }
  }

  &__date {
    font-weight: 600;
  }

  &__related-articles {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
    &__header {
      flex-direction: column;

      &__details {
        width: 100%;
        text-align: left;
        padding-bottom: calc(var(--pxSize) / 2);
        margin-bottom: var(--sectionVerticalSpacing);
        border-bottom: 1px solid var(--color-foreground);

        > * {
          margin: 0;
        }
      }
    }

    > * {
      max-width: none;
    }
  }

  @media screen and (max-width: 676px) {
  }
}
