.newsletter-row {
  text-align: center;

  &__heading {
    margin-bottom: 0;
  }

  &__form {
    margin-bottom: calc(var(--sectionVerticalSpacing)/2.5);

    .kl-private-reset-css-Xuajs1:last-of-type{
      justify-content: flex-start!important;
      padding-top: 0!important;
    }
  }

  @media screen and (max-width: 676px) {
    &__form {
      flex-direction: column;
      margin-top: var(--sectionVerticalSpacing);
    }
  }
}
