.newsletter-row {
  text-align: center;

  &__heading {
    margin-bottom: 0;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--sectionVerticalSpacing) / 2);

    input[type="email"] {
      min-width: 300px;
    }

    input[type="submit"] {
      border-radius: 0px;
      background: var(--color-foreground);
      color: var(--color-background);
    }
  }

  @media screen and (max-width: 676px) {
    &__form {
      flex-direction: column;
      margin-top: var(--sectionVerticalSpacing);
    }
  }
}
