.open-positions {
  display: flex;
  flex-direction: column;

  &__departments{
    border-right: 1px solid var(--color-foreground);;
    flex: 1;

    .positions__nav{
      margin-top: 2.5rem;
    }

    .hide{
      display: none;
    }
  }

  &__content{
    display: flex;
    margin-top: 2rem;
  }

  &__container{
    flex: 3;
  }

  &__headline-content{
    max-width: 70%;
  }

  &__modal{
    padding: 0 calc(var(--btnHeight)/ 6);
    text-align: center;
    min-width: 175px;
  }

  &__position {
    padding: 0px calc(var(--sectionVerticalSpacing) / 1.5) calc(var(--sectionVerticalSpacing) / 2) calc(var(--sectionVerticalSpacing) / 1.5);

    &--top, &--bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--top{
      margin-bottom: 1rem;
      
      a{
        padding: 0 calc(var(--btnHeight) / 2);
      }
    }

    h3, p {
      margin-bottom: 0;
    }

    &__btn{
      width: fit-content;
      margin-top: 0;
      border-radius: 2px;
      font-size: 1.1rem;

      svg{
        stroke: var(--color-btn-txt);
        width: 1.25rem;
        margin-left: 1rem;
      }

      &:hover{
        svg{
          stroke: var(--color-foreground);
        }
      }
    }

    svg {
      * {
        fill: var(--color-foreground);
      }
    }

    &__checkbox {
      position: absolute;
      width: 0px;
      height: 0px;
      opacity: 0;
      z-index: -1;
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      color: var(--color-foreground);
      width: 100%;
      display: flex;

      .positions__position{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }

      &__text{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__text {
    margin-top: calc(var(--sectionVerticalSpacing) * 0.75);
    max-width: 600px;
  }

  @media screen and (max-width: 676px) {
    &__content{
      flex-direction: column;
    }

    &__departments{
      border: 1px solid var(--color-foreground);
      padding: calc(var(--pxSize) / 2.5);

      p{
        position: relative;
        margin-bottom:0;
        display: flex;
        align-items: center;

        &:after{
          content: "";
          display: inline-block;
          border: solid var(--color-foreground);
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          padding: 3.5px;
          margin-right: var(--sectionHorizontalSpacing);
          position: absolute;
          right: 0;
        }
      }
    }

    &__headline-content{
      max-width: 100%;

      h2{
        text-align: center;
      }
    }

    &__position {
      padding: 0;
      margin-top: 1.25rem;

      &--top{
        h3{
          font-size: 18px;
          flex: 2;
        }
      }

      &__label{
        padding-right: calc(var(--pxSize) / 1.5);
      }
    }
  }
}
