.recent-articles {
  display: flex;
  gap: calc(var(--pxSize) / 3);

  > *:first-child {
    flex: 3;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--pxSize) / 3);
    flex: 2;

    &__heading {
      text-transform: none;
      font-weight: 700;
      margin: 0;
    }
  }

  @media screen and (max-width: 676px) {
    flex-direction: column;

    > *:first-child {
      margin-bottom: var(--pxSize);
    }
  }
}
