.rich-text {
  &__heading,
  &__subheading,
  &__text {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading,
  &__subheading {
    &:not(.__align-left) {
      text-align: center;
    }
  }

  &__subheading {
    margin-bottom: 3rem;
  }

  > *:last-child {
    margin-bottom: 0;

    *:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 676px) {
    &__subheading {
      margin-bottom: 1.25rem;
    }
  }
}
