.spec-sheets {
  display: flex;
  flex-direction: column;

  &__item {
    width: 100%;
    display: none;

    &.__header {
      display: block;
      background: var(--color-accent);
    }

    p {
      margin-bottom: 0;
    }

    &__checkbox {
      position: absolute;
      width: 0px;
      height: 0px;
      opacity: 0;
      z-index: -1;
    }

    &__label {
      display: flex;
      justify-content: space-between;
      padding: calc(var(--pxSize) / 1.5) 0 calc(var(--pxSize) / 1.5) 0;
      cursor: pointer;
      position: relative;
      align-items: center;
      transform: scale(1);
      will-change: transform, opacity;
      transition: all 0.25s ease;

      &:hover {
        transform: scale(1.015);
        opacity: 0.9;
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      color: var(--color-foreground);
      width: 100%;
    }

    // Checked State
    &__checkbox:checked {
      + .accordions__accordion__label {
        transform: scale(1.015);
        opacity: 0.9;
      }

      ~ .accordions__accordion__content {
        max-height: 10000vh;
      }
    }

    &.__active {
      display: block;
    }
  }

  //visually this must appear above the items, but logically
  //it must occur after the items because inside the items
  //loop is where we gather the category nav data. This is why we're
  //using flex column order here
  &__nav {
    order: -1;
    display: flex;
    gap: var(--pxSize);
    margin: 0 0 calc(var(--sectionVerticalSpacing) * 0.75) 0;

    &__item {
      > * {
        cursor: pointer;
        opacity: 0.7;

        &:hover {
          opacity: 0.9;
        }

        &.__active {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    margin-top: calc(var(--sectionVerticalSpacing) * 0.75);
    max-width: 600px;
  }

  @media screen and (max-width: 676px) {
    &__nav {
      overflow: auto;
    }

    &__item {
      &__label {
        padding-right: calc(var(--pxSize) / 1.5);
      }
    }
  }
}
