.split-section {
  --splitSectionSpace: var(--sectionHorizontalSpacing);
  display: flex;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
      color: var(--color-accent);
    }

    &__subheading {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  &__image {
    position: relative;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      object-fit: cover;
      width: calc(var(--sectionHorizontalSpacing) + 100%);
    }
  }

  &:not(.__layout-reversed) {
    .split-section {
      &__image {
        img {
          left: 0;
        }
      }

      &__text {
        padding-right: var(--splitSectionSpace);
      }
    }
  }

  &.__layout-reversed {
    flex-direction: row-reverse;

    .split-section {
      &__image {
        img {
          right: 0;
        }
      }

      &__text {
        padding-left: var(--splitSectionSpace);
      }
    }
  }

  &:not(.__image-style-square) {
    .split-section {
      &__text,
      &__image {
        min-height: calc(var(--vwSize) * 18);
        flex: 0 0 50%;
      }
    }
  }

  &.__image-style-square {
    --splitSectionSpace: calc(var(--sectionHorizontalSpacing) / 2);
    align-items: center;

    .split-section {
      &__image {
        flex: 0 0 calc(var(--vwSize) * 15);
        padding-top: calc(var(--vwSize) * 15);

        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 676px) {
    flex-direction: column-reverse;

    &__image {
      padding-top: 66.66666666666666%;
      margin: 0 calc(var(--sectionHorizontalSpacing)*-1);
      width:100vw;

      img {
        left: 0;
        bottom: 0;
        right: 0;
        top:0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
      }
    }

    &__text {
      &__heading {
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}
