.sub-navigation {
  padding-top: 0;
  padding-bottom: 0;

  &__list {
    display: flex;
    justify-content: center;
    gap: var(--navHeight);

    &__item {
      &__link {
        height: var(--navHeight);
        line-height: var(--navHeight);
        font-weight: 700;
      }
    }
  }

  &__parent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    //  top: var(--navHeight);
    z-index: 2;
  }

  @media screen and (max-width: 676px) {
    &__list {
      flex-direction: column;
      gap: 0;

      &__item {
        text-align: center;

        &:first-child{
          position: relative;
          &:after{
            content: ""; 
            display: inline-block;
            border: solid black;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            padding: 3.5px;
            margin-right: var(--sectionHorizontalSpacing);
            position: absolute;
            bottom: 50%;
            right: 0;
          }
        }

        &:not(:first-of-type).hide{
          display: none;
        }
      }
    }
  }
}
