.sub-navigation {
  padding-top: 0;
  padding-bottom: 0;

  &__list {
    display: flex;
    justify-content: center;
    gap: var(--navHeight);

    &__item {
      &__link {
        height: var(--navHeight);
        line-height: var(--navHeight);
        font-weight: 700;
      }
    }
  }

  &__parent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    //  top: var(--navHeight);
    z-index: 2;
  }

  @media screen and (max-width: 676px) {
    &__list {
      flex-direction: column;
      gap: 0;

      &__item {
        text-align: center;
      }
    }
  }
}
