.temp-product {
  --tempProductSpace: var(--sectionHorizontalSpacing);
  --color-accent: rgba(var(--color-grass), 1);

  .breadcrumb{
    justify-content: start;
    
    svg{
      width: calc(var(--pxSize)/ 8);
    }
  }

  &__organic{
    text-transform: uppercase;
    transform: rotate(-15deg);
    margin-left: calc(var(--sectionHorizontalSpacing)/ 2.5);
    color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      position: relative;
    }

    &::before{
      content: '';
      display: inline-block;
      width: 100px;
      height: 90px;
      border-radius: 50%;
      background-color: rgb(255,232, 188);
      position: absolute;
      top:0;
      z-index: -1;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    text-transform: capitalize;
    font-weight: 900;
    color: var(--color-accent);
  }

  &__content {
    flex: 1;
    padding-right: calc(var(--tempProductSpace)/2);
  }

  &__description {
    padding-right: calc(var(--tempProductSpace) / 2);
  }

  &__info {

    tr{
      line-height: 2.5;

      td:last-of-type{
        padding-left: 7px;
      }
    }

    td{
      overflow: hidden;
      position: relative;
    }

    .product-id {
      width: 70%;
      &:after{
        content: " ....................................................................................................................... ";
        position: absolute;
        padding-left: 7px;
        line-height: 1;
        font-size: 1.25rem;
        letter-spacing: 10px;
      }
    }
  }

  &__tabs{
    &-nav {
      margin: var(--pxSize) 0;

      ul {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid rgba(var(--color-grass), .5);
        padding-bottom: calc(var(--pxSize) / 2);

        li {
          .info-button {
            background: none;
            border: none;
            padding: 0;

            &.__active {
              padding-bottom: calc(var(--pxSize) / 2.2);
              border-bottom: 4px solid rgba(var(--color-grass), 1);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .tab-content {
    display: none;

    &.__active {
      display: block;
    }
  }

  &__sliders {
    flex: 1;
  }

  &__slider {
    &-nav {
      margin-top: calc(var(--pxSize) / 1.25);

      img {
        max-width: 100px;
        padding-right: calc(var(--tempProductSpace) / 10);
      }
    }

    img {
      max-width: 500px;
    }
  }

  &__case,
  &__type {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--pxSize) / 2);
    gap: calc(var(--pxSize) / 5) 0;

    label {
      margin-bottom: 0;
    }

    &__options {
      border: none;
      overflow: hidden;
      background: none;
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--pxSize) / 4) calc(var(--pxSize) / 2);

      span {
        --inputHeight: 32px;
        border-radius: var(--inputHeight);
        line-height: var(--inputHeight);
        height: var(--inputHeight);

        margin: 0;
        padding: 0 calc(var(--pxSize) / 4);

        white-space: nowrap;
        color: var(--color-accent);
        transition: all 0.25s ease;
        cursor: pointer;
        position: relative;
        border: 1px solid var(--color-accent);

        &:checked,
        &:active,
        &:hover,
        &:focus {
          background-color: var(--color-accent);
          color: var(--color-background);
        }
      }
    }
  }

  &__headline {
    display: flex;
    color: var(--color-accent);
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;

    p {
      margin-right: calc(var(--sectionHorizontalSpacing) / 9);
      margin-bottom: 0;
      color: var(--color-accent);
    }
  }

  &__add-to-cart {
    display: flex;
    gap: calc(var(--sectionHorizontalSpacing) / 20);
    align-items: center;
    margin-bottom: calc(var(--pxSize) / 2);
  }

  &__fair-trade {
    margin: calc(var(--pxSize) / 2) 0;
  }

  &__quantity-input {
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--color-accent);
    border-radius: 7px;
    width: 53px;
    height: 48px;
    margin-right: calc(var(--sectionHorizontalSpacing) / 10);
    color: var(--color-accent);
    margin-top: 1rem;
  }

  .quantity-input{
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /*FLICKITY*/
  .flickity-button {
    top: auto;
    bottom: -150%;

    &:hover{
      opacity: .7;
    }

    svg {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
    }

    &:before {
      width: 100%;
      transform: translate(0, -50%);
      height: 2px;
      background: var(--color-accent);
    }

    &:after {
      width: 20%;
      height: 20%;
      border-top: 2px solid var(--color-accent);
      border-right: 2px solid var(--color-accent);
      transform: rotate(45deg) translateY(-50%);
      transform-origin: top center;
    }

    &.previous {
      left: 40%;

      &::after {
        transform: rotate(220deg) translateY(-50%);
        left: 0;
        right: auto;
      }

      &:hover:after {
        left: 0;
        right: initial;
      }
    }

    &.next {
      right: 40%;
    }

    &:hover:after {
      left: initial;
      right: 0;
      border-radius: initial;
      background-color: initial;
      opacity: 1;
    }
  }

  @media screen and (max-width: 676px) {
    .breadcrumb{
      justify-content: center;
      text-align: center;
    }

    &__organic{
      display: none;
    }

    &__container {
      flex-direction: column-reverse;
    }

    &__price {
      justify-content: flex-end;

      a{
        display: none;
      }
    }

    &__content{
      padding-right:0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      form{
        grid-column: 1/-1;
      }
    }

    &__headline{
      img{
        display: none;
      }
    }

    &__description{
      padding-right:0;
      grid-column: 1/-1;
    }

    &__text{
      display: none;
    }

    &__fair-trade{
      display: none;
    }

    &__quantity-input{
      display: none;
    }

    .quantity-input{
      display: flex;
      justify-content: space-between;
      border-radius: var(--variant-pills-radius);
      color: rgba(var(--color-foreground),1);
      padding: 0 0.75rem;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      background: 0 0;
      letter-spacing: .1rem;
      line-height: 1;
      text-align: center;
      transition: border var(--duration-short) ease;
      cursor: pointer;
      position: relative;
      border: 1px solid var(--color-accent);
      width: 90%;
      margin: 0 auto;

      svg{
        color: var(--color-accent);
        width: 0.75rem;
      }

      input{
        border:none;
        background:none;
        text-align: center;
      }
    }

    .add-btn{
      width: 90%;
      margin: 1rem auto!important;
    }

    &__add-to-cart{
      display: flex;
      flex-direction: column;

      a{
        display: none;
      }
    }

    &__info{
      margin-bottom: var(--pxSize);
      grid-column: 1/-1;

      tr{
        display: flex;
        align-items: center;
      }

      .product-id {
        width: 50%;
      }
    }

    &__type, &__case{
      label{
        margin-bottom: .5rem;
      }

      &__options{
        justify-content: center;
        gap: calc(var(--pxSize)/ 1.5) calc(var(--pxSize)/ 2);
      }
    }

    &__tabs{
      display: none;
    }

    .sample{
      display: none;
    }

    /*FLICKITY*/

    .flickity-button{
      bottom: 0;

      &.next {
        right: 30%;
      }

      &.previous {
        left: 30%;
      }
    }

    &__slider{
      margin-bottom: calc(var(--pxSize) * 3.5);

      &-nav{
        .flickity-viewport{
          display: none;
          margin-bottom: calc(var(--pxSize) * 3.5);
        }

        button{
          bottom: auto;
        }
      }
    }
  }
}
